* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* HEADER  */
header {
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    line-height: 50px;
}

.header-bar {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    /* line-height: 50px; */
    /* DA CANCELLARE */
     /* height: 100px;  */
}

.header-sx {
    float: left;
    /* padding: 25px 0; */
}

.header-sx li {
    padding: 10px;
    display: inline-block;
}

.fa-globe {
    color: #33475b;
}

.header-sx a {
    padding: 5px;
    text-decoration: none;
    color:grey;
}

.fa-sort-down {
    color: #7c98b6;
}

.header-sx hr {
    width: 2px;
    height: 30px;
    padding-top: 20px;
    border: 1px solid grey;
}

.header-sx a:last-child {
    border-left: 2px solid grey;
    padding-left: 25px;
}

.header-dx {
    float: right;
}

.header-dx li {
    padding: 10px;
    display: inline-block;
}

.fa-search {
    color: #00a4bd;
}

.btn {
    color: white;
    border-radius: 5px;
    font-size: 12px;
}

.btn-small {
    padding: 10px 30px;
}

.btn-big {
    padding: 20px 20px;
    font-size: 20px;
}

.btn-white {
    color: #ff7a59;
    margin: 15px 0;
    border: 1px solid #ff7a59;
    background-color: white;
}

.btn-orange {
    color: white;
    margin: 15px 0;
    background-color: #ff7a59

}


/* LOGO BAR */
.logo-bar {
    background-color: #ffffff;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-bar img {
    width: auto;
    height: 80px;
    float:left;
    padding-bottom: 10px;
}

nav {
    float: right;
}

nav li {
    padding: 30px 7px;
    display: inline-block;
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: #33475b;
}



/* SEZIONE BANNER + JUMBOTRON */
.bg-pink {
    background-color: #fff3ee;
    background-image: url('https://cdn2.hubspot.net/hubfs/53/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    height: 650px;
}

.banner {
    width: 70%;
    /* border: 1px solid red; */
    position: relative;
    height: 500px;
    margin: 0 auto;
}

.jumbotron {
    width: 44%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* border: 1px solid black; */
    margin: 0 auto;
}

.jumbotron h1{
    color: #33475b;
    font-size: 46px;
    font-weight:bolder;
    margin-bottom: 20px;
}

.jumbotron .sotto-titolo {
    font-size: 15px;
    font-weight: 300;
    color: grey;
    line-height: 2;
    /* margin-bottom: 20px; */
}

.jumbotron .sotto-bottone {
    width: 200px;
    font-size: 12px;
    font-weight: 500;
    color: #33475b;
    line-height: 2;
    padding: 10px 0;
}

/* INIZIO SEZIONE BOX */
.bg-azure {
    background-color: #f5f8fa;
    /* DA CANCELLARE */
    /* position: relative; */
}

.row {
    width: 70%;
    /* height: 400px; */
    background-color: white;
    /* position: relative; */
    margin: 0 auto;
    /* border: 1px solid blacK; */
}

.row-top {
    background-color: #f5f8fa;
    border: 1px solid black;

}

.row-immagine {
width: 40%;
margin: 0 35%;
}

.row-top .row-immagine img {
    width: auto;
    height: 300px;
    margin: 0 auto;
    padding: 20px 0;

} */

.row-testo {
    width: 40%;
    margin: 0 auto;
}


.row-testo h2{

    color: #33475b;
    padding-bottom: 10px;
    text-align: center;
    /* margin: 0 auto; */
}


.row-testo p {
    width: 60%;

    font-size: 10px;
    font-weight: 300;
    color: grey;
    line-height: 2;
    text-align: center;
    margin: 0 auto;
}

/* Seconda ROW */

.row-middle{
    height:400px;
}

.middle-sx {
    width: 30%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

.middle-sx .sx-box {
    width: 150px;
    margin: 50px auto;
}

.middle-sx .sx-box img{
    width: auto;
    height: 120px;
}

.middle-sx .btn-orange {
    margin: 40px auto;

}

.middle-dx {
    width: 60%;
    height: 100%;
    border: 1px solid red;
    float: left;
}

.middle-dx .dx-box {
    margin: 50px auto;
}

.middle-dx h3 {
    color: #33475b;
    padding-bottom: 30px;
}


.middle-dx p {
    /* width: 60%; */
    font-size: 15px;
    font-weight: 300;
    color: grey;
    line-height: 2;
    /* text-align: center; */
    margin: 0 auto;
}

.middle-dx h4 {
    color: #33475b;
    padding: 30px 0;
    float: left;
}

.middle-dx .dx-box .linea {
    width: 350px;
    height: 40px;
    margin-left: 50px;
    border-bottom: 2px solid #33475b;
    float: left;
}


.dx-box ul {
    border: 1px solid black;
    margin: 40px auto;
    float: left;
}
.dx-box li {
    display: inline-block;
}

.dx-box .fas {
    color: orange;
}


.bg-blue {
    background-color: #f5f8fa;

    /* DA CANCELLARE */
    height: 300px;
}

.bg-white {
    background-color: #ffffff;

    /* DA CANCELLARE */
    height: 300px;
}

footer {
    background-color: #33475b;

    /* DA CANCELLARE */
    height: 300px;
}
